.nav-wrapper {
background: teal !important;

}
nav
{
	margin-bottom: 60px !important;
}
.brand-logo	
{
	padding-left: 20px !important;
}
.coinTable
{
	/*margin-top: 80px;*/
}
.clearfix:before,
.clearfix:after {
        display: table;
        content: " ";
}

.titleText
{
	font-size: 25px;
	font-weight: bold;
}

.rank
{
	vertical-align: super;
}

.url
{
	cursor: pointer;
}